// Reds
$darker_rover_red: #6e0d2e;
$dark_rover_red: #c61e2d;
$rover_red: #ef2731;


.darker-rover-red { color: $darker_rover_red; }
.dark-rover-red { color: $dark_rover_red; }
.rover-red { color: $rover_red; }
